body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
}
header img {
    width: 230px;
    margin: 6px;
}
div {
    margin-top: 1.3em;
}
.login-button {
    margin: 0 0 0 auto;
    margin-top: 15px;
    margin-right: 7px;
}
.login-button a {
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    border: solid 1px;
    transition: all 0.5s;
}
.login-button a:hover {
    background-color: #000;
    color: #fff;
}
.welcome {
    background-color: #f0f4f8;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    cursor: default;
    user-select: none;
}
.welcome-message {
    font-size: 15px;
}
.game-list {
    display: block;
}
.game-list h2 {
    margin-bottom: -30px;
}
.game-items-container {
    display: flex;
}
.game-items {
    border: solid 1px;
    border-color: #dcdcdc;
    margin-right: 8px;
    margin-bottom: 18px;
    border-radius: 5px;
    padding-left: 6px;
    max-width: 300px;
    cursor: pointer;
    transition: all 0.3s;
}
.game-items:hover {
    background-color: #f0f4f8;
}
.game-items p {
    width: 200px;
}
.subsc-follow {
    margin-top: 50px;
}
.about-title {
    font-weight: normal;
}
footer {
    text-align: center;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
}
.copyright {
    margin-top: 25px;
}
.social-link a {
    margin-right: 7px;
    color: #000;
    text-decoration: none;
}
.social-link a:hover {
    text-decoration: underline;
}